<div class="main-title">Подарочные карты</div>

<div style="
    position: fixed;
    background: url(https://tankionline.com/play/static/images/waitingdialog/background.c5242038.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 100px;
    right: -20px;
    top: -10px;
    display: none;
    z-index: 1111;
"></div>