<nav class="chat-nav">
    <select id="aside-select">
        <option value="1" selected>Чат</option>
        <option value="2">Новости</option>
    </select>

    <div class="online-count">
        <svg viewBox="0 0 24 24" style="height: 20px;opacity:.8">
            <path fill="#fff" d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z"></path>
        </svg>
        <span id="onlineNum"><%= online %></span>
    </div>
    
</nav>
<div class="aside-wrapper" id="aside-chat">
    <div id="chat_messages"></div>
    <div class="chat-footer">
        <div class="smiles">
            <div class="smiles__title">Смайлы</div>
            <div class="smiles__wrapper"></div>
        </div>
        <svg id="smiles">
            <use xlink:href="#emoji-svg"></use>
        </svg>
        <input class="chat-footer__input" id="text" type="text" placeholder="Написать в чате" autocomplete="off" maxlength="500"/>
        <button id="chat-send" title="Отправить">
            <svg viewBox="0 0 24 24">
                <path d="M0 0l23.997 12L0 24l4.422-12.046L0 0z" fill="#fff" />
            </svg>
        </button>
    </div>
</div>
<div class="aside-wrapper" id="aside-news">
    <div class="news">
        <div class="news__item">
            <div class="news__date">24.02.2022</div>
            <div class="news__title">Первый релиз</div>
            <div class="news__message">
                Вот и состоялся наш первый бета релиз!
                <br><br>Пока всё ещё многое нужно сделать, но «скелет» уже построен"👀
            </div>
        </div>
        <div class="news__item">
            <a href="https://vk.com/chatto_ru?w=wall-181835799_2035" target="_blank" class="news__repost"></a>
            <div class="news__date">21.02.2022</div>
            <div class="news__title">Анонс проекта</div>
            <div class="news__message">
                ✨И так ребят, думал я чем заняться и решил сделаю ка я новую версию чата для истинных чаттоводцов😅
                <br>Чат будет написан практически с нуля на ноде, и по идеи затраты на него должны быть минимальны.
                <br><br>Т.к. это чат написан с нуля, так же его база данных (переход на новый стандарт), вы должны
                будете заново регистрироваться.
                <br><br>Первый релиз ожидается к концу месяца, интересно что из этого выйдет, в первую очередь это для
                себя новый опыт😄, новая среда разработки, новые инструменты, язык, технологии.
                <br><br>💬Пока идёт активная разработка "под капотом" думаю что делать с дизайном, сделать его в новом
                дизайне или в старом (как ChatTO), жду ваших комментарий на этот счёт.
                <br><br>
                Удачи✌🏻
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <a href="https://vk.com/chatto_ru" target="_blank" class="ourvk">
            <svg width="20" height="20">
                <use xlink:href="#vk-svg"></use>
            </svg>
            Наша группа вк
        </a>
    </div>
</div>