<div id="clans">
	<div class="main-title">Кланы</div>
	<nav class="nav nav-main" id="clans-nav">
		<a class="nav__item active" data-id="1">Все кланы</a>
		<a class="nav__item" data-id="2">Мой клан</a>
		<a class="nav__item" data-id="3">Найти</a>
		<a class="nav__item" data-id="4">Привилегии</a>
	</nav>

	<div id="clans-page" class="sm-scroll">
		<div id="clans-all">
			<table id="table-1" class="sticky-head letter0">
				<thead>
					<tr>
						<th style="width: 35px">Место</th>
						<th style="width: 50px">Уровень</th>
						<th style="width: 50px">Тэг</th>
						<th>Название клана</th>
						<th style="width: 130px">Основатель</th>
						<th style="width: 60px">Участников</th>
						<th style="width: 65px">Создан</th>
						<th style="width: 120px">Капитал</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div id="clans-my" class="hidden"></div>
		<div id="clans-privilege" class="hidden"></div>
	</div>

	<div class="clans-top-title">
		<div>Список кланов</div>
		<div>Общий капитал</div>
	</div>

	<div class="clans-top"></div>
</div>

<div id="oneclan" class="hidden">
	<div class="main-title">Клан</div>
	<nav class="nav nav-main hidden" id="oneclan-nav">
		<a class="nav__item active" data-id="1">Информация</a>
		<a class="nav__item" data-id="2">Заявки</a>
		<a class="nav__item" data-id="3">Настройки</a>
		<a class="nav__item" data-id="4">Капитал</a>
	</nav>

	<div class="clan-info">
		<div class="flex between">
			<div class="clan-flex">
				<img class="clan-logo" src="https://i.ibb.co/3R6C4Gr/image.png" />
				<div>
					<div class="clan-title">Администраторы</div>
					<div class="clan-by">
						Основатель:
						<a class="user">
							<i class="rank r7"></i>
							DanRotaru
						</a>
					</div>
					<button class="btn" id="clan-action">Подать заявку</button>
				</div>
			</div>

			<div class="clan-flex">
				<div class="clan-info-div">
					<div id="clan-teg">Тэг клана: <b>[A]</b></div>
					<div id="clan-date">Создан</div>
					<div id="clan-users">Игроков</div>
					<button class="btn" id="clan-donation">Пожертвовать</button>
				</div>

				<div class="clan-info-div">
					<div>Сообщений</div>
					<svg viewBox="0 0 24 24">
						<path
							fill="#ffd700"
							d="M12,3C17.5,3 22,6.58 22,11C22,15.42 17.5,19 12,19C10.76,19 9.57,18.82 8.47,18.5C5.55,21 2,21 2,21C4.33,18.67 4.7,17.1 4.75,16.5C3.05,15.07 2,13.13 2,11C2,6.58 6.5,3 12,3M17,12V10H15V12H17M13,12V10H11V12H13M9,12V10H7V12H9Z"
						></path>
					</svg>
					<span class="clan-messages">0</span>
				</div>

				<div class="clan-info-div">
					<div>Капитал</div>
					<svg class="my">
						<use xlink:href="#kry-svg"></use>
					</svg>
					<span class="clan-kry">0</span>
				</div>

				<div class="clan-info-div">
					<div>Нарушений</div>
					<svg viewBox="0 0 24 24">
						<path
							fill="#00ffaa"
							d="M12 2C17.5 2 22 6.5 22 12S17.5 22 12 22 2 17.5 2 12 6.5 2 12 2M12 4C10.1 4 8.4 4.6 7.1 5.7L18.3 16.9C19.3 15.5 20 13.8 20 12C20 7.6 16.4 4 12 4M16.9 18.3L5.7 7.1C4.6 8.4 4 10.1 4 12C4 16.4 7.6 20 12 20C13.9 20 15.6 19.4 16.9 18.3Z"
						></path>
					</svg>
					<span class="clan-bans">0</span>
				</div>
			</div>
		</div>
		<div class="description sm-scroll"></div>
	</div>
	<div class="clans-users sm-scroll">
		<table id="table-clanUsers" class="sticky-head letter0 text-center">
			<thead>
				<tr>
					<th>Пользователь</th>
					<th style="width: 200px">Должность</th>
					<th style="width: 200px">Заработал капитал</th>
					<th style="width: 140px">Время в клане</th>
					<th style="width: 150px">Последний вход</th>
					<th style="width: 190px" id="clan-usersAction" class="hidden">Действия</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<table id="table-clanRequests" class="sticky-head letter0 text-center hidden">
			<thead>
				<tr>
					<th>Пользователь</th>
					<th style="width: 200px">Отправлено</th>
					<th style="width: 200px">Действие</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script>
	var myclan;
	$('#clans-nav a').click(function () {
		let id = $(this).attr('data-id');
		if (id == 1) {
			$('#clans-all').removeClass('hidden');
			$('#clans-my, #clans-privilege').addClass('hidden');
			$('#clans-nav a').removeClass('active');
			$(this).addClass('active');
		} else if (id == 2) {
			$(this).text('Мой клан');
			if (myclan) clan(myclan);
		}
	});
</script>
