<title>ChatTO_2 &middot; 2022</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="ChatTO - это фан чат ТО в котором нужно общаться с друзьями, завести новых друзей, а так же наслаждаться игровым процессом (в котором всего-лишь за сообщения вы получаете опыт и кристаллы)">
    <meta name="keywords" value="ChatTO, TO, TO-Chat, to-chat, ТО, Chat, fan chat, chat fan, fan, to-chat, TankiChat, chatto, DanRotaru, Dan, Dev, chat-to, Чат, Фан чат, фан, то-чат, Чат ТО, Ночной чат, Общайся в TO, Общайся, Чатик, чатик ТО, Фан Чат ТО, Fan Chat TO, Fan Chat, Фан Чат, https://vk.com/chatto_online, https://vk.com/chatto_ru, tankichat, chattanki, by DanRotaru, chatto_online, chatto">
    <meta name="image" content="img/logotip2.png">
    <meta name="og:title" content="ChatTO" data-app="true">
    <meta name="og:description" content="ChatTO (Online) - это фан чат ТО в котором нужно общаться с друзьями, завести новых друзей, а так же наслаждаться игровым процессом (в котором всего-лишь за сообщения вы получаете опыт и кристаллы)" data-app="true">

    <meta name="og:image" content="img/small_logo1.png">
    <meta name="og:image:width" content="150">
    <meta name="og:image:height" content="150">
    <meta name="og:url" content="" data-app="true">
    <meta name="og:site_name" content="ChatTO" data-app="true">
    <meta name="og:locale" content="ru_RU" data-app="true">
    <meta name="og:type" content="website" data-app="true">

    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="application-name" content="ChatTO" />
    <meta name="msapplication-TileColor" content="#000000" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<%# 
<script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                    .insertBefore(k, a)
            })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            ym(44711692, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        </script><noscript>
            <div><img src="https://mc.yandex.ru/watch/44711692" style="position:absolute; left:-9999px;" alt="" /></div>
        </noscript>
        <meta name="google-site-verification" content="7TTN5qWxiqHuMZ4JUkhv-8Y3U2z20cTUnPyEWtNEaUo" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111349019-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
    
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-111349019-1');
        </script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2279286292813704",
                enable_page_level_ads: true
            });
        </script> -->
    <!-- <script src="https://ulogin.ru/js/ulogin.js"></script> -->

%>