<div class="main-title">Правила</div>
<nav class="nav nav-main" id="rules-nav">
    <a class="nav__item active" data-id="1">Правила чата</a>
    <a class="nav__item" data-id="2">Правила администрации</a>
</nav>

<div id="rules-page" style="padding: 10px 10px 10px 0;">
    <table id="table-1">
        <tbody>
            <tr>
                <th>Пункт</th>
                <th>Правило</th>
            </tr>
            <tr>
                <td>1.1</td>
                <td>Пользователю запрещается использовать флуд, флейм, сообщений а так же их дублирования.</td>
            </tr>
            <tr>
                <td>1.2</td>
                <td>Пользователю запрещается оскорблять а так же угрожать другим пользователям.</td>
            </tr>
            <tr>
                <td>1.3</td>
                <td>Пользователю запрещается использовать нецензурную лексику (мат).</td>
            </tr>
            <tr>
                <td>1.4</td>
                <td>Пользователю запрещено использовать троллинг при общении с другими пользователями чата.</td>
            </tr>
            <tr>
                <td>1.5</td>
                <td>Пользователю запрещается КАПСИТЬ (сообщения только из заглавных букв) или недопустимые символы.</td>
            </tr>
            <tr>
                <td>1.6</td>
                <td>Пользователю запрещено спамить или писать бессмысленные сообщения.</td>
            </tr>
            <tr>
                <td>1.7</td>
                <td>Пользователю запрещается рекламировать посторонние сайты, группы, не касающиеся тематики чата.</td>
            </tr>
            <tr>
                <td>1.8</td>
                <td>Пользователю запрещается отправлять назойливые просьбы о прокачке кристаллов/гаража.</td>
            </tr>
            <tr>
                <td>1.9</td>
                <td>Пользователю запрещается выпрашивание прав модератора/администратора чата.</td>
            </tr>
            <tr>
                <td>1.10</td>
                <td>Пользователю запрещается выдавать себя за тестера/модератора/администратора чата.</td>
            </tr>
            <tr>
                <td>1.11</td>
                <td>Пользователю запрещается передача аккаунта.</td>
            </tr>
            <tr>
                <td>1.12</td>
                <td>Пользователю запрещается регистрировать/использовать ники содержащие оскорбления/нецензурную брань,
                    ники схожие с никами администрации чата.</td>
            </tr>
            <tr>
                <td>1.13</td>
                <td>Пользователю запрещается продавать подарочные карты за деньги.</td>
            </tr>
            <tr>
                <td>1.14</td>
                <td>Обсуждение действий модератора/администратора запрещено.</td>
            </tr>
            <tr>
                <td>1.15</td>
                <td>При неоднократном флуде вы рискуете быть забаненым навсегда или же получить обнуление аккаунта</td>
            </tr>
            <tr>
                <td>1.16</td>
                <td><b>[Важно]</b> Запрещено использовать более 5 аккаунтов, используя больше 5 аккаунтов вы рискуете
                    быть забанены навсегда.</td>
            </tr>
            <tr>
                <td>1.17</td>
                <td>Пользователю запрещается оскорбление администрации чата в любой форме(в т.ч. косвенной) на любых
                    ресурсах(включая чат, вк, и т.д.)</td>
            </tr>
            <tr>
                <td>1.18</td>
                <td>Пользователю запрещается использовать VPN</td>
            </tr>
        </tbody>
    </table>
    <table class="hidden" id="table-2">
        <tbody>
            <tr>
                <th>Пункт</th>
                <th>Правило</th>
            </tr>
            <tr>
                <td>2.1</td>
                <td>Администрация имеет право отказать вам в выдаче доказательства нарушения.</td>
            </tr>
        </tbody>
    </table>
    <div class="garage-info" style="margin: 10px;">
        <svg>
            <use xlink:href="#info-svg"></use>
        </svg>
        Используя данный сайт вы автоматически подтверждаете своё согласие с данными правилами, если вы не согласны с ними, пожалуйста немедленно покиньте сайт
    </div>
</div>

<script>
    $("#rules-nav a").click(function(){
        let id = $(this).attr('data-id');
        $("#rules-nav a").removeClass("active");
        $(this).addClass("active");
        $("#rules-page table").addClass("hidden");
        $("#rules-page #table-"+id).removeClass("hidden");
    });
</script>