<div class="main-title">Обновления</div>
<div class="update">
    <div class="update__title">Обновление #1</div>
    <div class="update__text">
        <ul>
            <li>.........</li>
            <li>.........</li>
            <li>.........</li>
            <li>.........</li>
        </ul>
    </div>
    <div class="update__date">07.03.2022</div>
</div>