<h2>Variable</h2>
<p><%= tagline %></p>

<!-- <ul>
    <% for(let m of mascots) { %> 
        <li><% m.organization %> </li>
    <% } %> 
    <% mascots.forEach(function(mascot) { %>
        <li>
            <strong><%= mascot.name %></strong>
            representing <%= mascot.organization %>, born <%= mascot.birth_year %>
        </li>
    <% }); %>
</ul> -->